{% extends "base_generic.html" %}

{% block content %}
  <h1>Local Library Home</h1>
  <p>
    Welcome to GeekBook, a website developed by
    <em>Riley King</em>!
  </p>
  <h2>The Geek Squad</h2>
  <div class="team-container">
    {% for member in team %}
    <div class="team-member">
      <img class="member-image" src="{{ member.image_url }}" alt="{{ member.name }}">
      <h2 class="member-name">{{ member.name }}</h2>
    </div>
    {% endfor %}
  </div>
  </div>
  <p>The Geeks have the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Months:</strong> {{ num_instances }}</li>
    <li><strong>Images:</strong> {{ num_image }}</li>
  </ul>
  
  <p>
    You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>
{% endblock %}
